html, body {
    height: 100%;
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 14px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.button {
  height: 50px;
  width: 200px;
  padding: 20px;
}

body {
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main{
  width: 500px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.logo {
  font-size: 50px;
  color: white;
  font-weight: bold;
  margin-bottom: 7px;
  margin-top: 0;
}

.tagline {
  font-size: 20px;
  color: white;
  font-weight: lighter;
}

.button{
  background-color: darkviolet;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  color: darkviolet;
  background-color: white;
}
